NEXT_PUBLIC_API_URL=https://localhost:8000

DATABASE_URL='postgresql://--------------------------------------------------'

BETTER_AUTH_SECRET=Random Long String

BETTER_AUTH_URL=https://localhost:3000